.kaufman {
  background-color: #1f1f1f;
  position: relative;
  overflow: hidden;
  color: white;
  padding: 90px 0;
  margin: 0 auto;
<<<<<<< HEAD
  overflow: hidden;
=======
>>>>>>> 5a0ce9469c84f0877712e8981800a075032af286
}
