.khan__buy-link {
  margin: 0 0 0 48px;
  padding: 0;
  line-height: 1.15;
  font-size: 24px;
  font-weight: normal;
  text-decoration: none;
<<<<<<< HEAD
  color: #2f80ed
=======
  color: #2f80ed;
>>>>>>> 5a0ce9469c84f0877712e8981800a075032af286
}
